*{
	margin:0;
	padding:0;
}

ul{
	list-style:none;
}

input,select,option{
	height:24px;
	font-size:18px;
	text-indent:2px;
}

button{
	margin:0 10px;
	cursor:pointer;
	height:30px;
	padding:0 10px;
}

div{
	margin:10px;
}

button.btn1 {
  background-color:purple;
  color:#fff;
}

button.btn2 {
  background-color: #389edc;
  color: #000;
}

button.btn3 {
  background-color: orange;
  color: #000;
}

input[type=radio],
input[type=checkbox] {
  width: 1em;
  margin-left: 1em;
}









/***********************/
[v-cloak]{
  display:none;
}