*{
	margin:0;
	padding:0;
}

ul{
	list-style:none;
}

input,select,option{
	height:24px;
	font-size:18px;
	text-indent:2px;
}

button{
	margin:0 10px;
	cursor:pointer;
	height:30px;
	padding:0 10px;
}

div{
	margin:10px;
}

/***********************/
.child5{
	height:80px;
	background-color:#ccc;
}

/***********************/
/***********************/
.tabs{
	font-size:18px;
	color:#657180;
}

.tabs-bar:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	background:#d7dde4;
	margin-top:-1px;
}

.tabs-tab{
	display:inline-block;
	padding:4px 16px;
	margin-right:6px;
	background-color:#fff;
	border:1px solid #d7dde4;
	cursor:pointer;
	position:relative;
}

.tabs-tab-active{
	color:#3399ff;
	border-top:solid 1px #3399ff;
	border-bottom:solid 1px #fff;
}

.tabs-tab-active:before{
	content:'';
	display:block;
	height:1px;
	background:#3399ff;
	position:absolute;
	top:0;
	left:0;

}

.tabs-content{
	padding:8px 0;
}








/***********************/
/***********************/

/***********************/
[v-cloak] {
	display: none;
}